#timeline {
    width: 100%;
    height: 10px;
    background-color: rgb(40, 157, 204);
    border-radius: 5px;
}

.timeline-dot {
    height: 10px;
    width: 10px;
    /*background-color: rgb(238, 248, 119);*/
    float: left;
    position: absolute;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

.panels {
    margin-top: 3em;
}